body {
    color: #404E67 !important;
    background: #DCF0EE !important;
    font-family: 'Open Sans', sans-serif !important;
}
.table-wrapper {
    margin: 30px auto !important;
    background: #fff !important;
    padding: 20px !important;
    box-shadow: 0 1px 1px rgba(0,0,0,.05) !important;
}
.table-title {
    padding-bottom: 10px !important;
    margin: 0 0 10px !important;
}
.table-title h2 {
    font-size: 22px !important;
    margin-top: 10px !important;
}
.table-title .add-new {
    float: right !important;
    height: 30px !important;
    font-weight: bold !important;
    font-size: 12px !important;
    text-shadow: none !important;
    min-width: 100px !important;
    border-radius: 50px !important;
    line-height: 13px !important;
    margin-top: 10px !important;
}
.table-title .add-new i {
    margin-right: 4px !important;
}
table.table {
    table-layout: fixed !important;
    color: #2D3748 !important;
}
table.table tr th, table.table tr td {
    border-color: #e9e9e9 !important;
}
table.table th a {
    margin: 0 5px !important;
    cursor: pointer !important;
    color: #313949 !important;
}

table.table th:last-child {
    width: 100px !important;
}
table.table td a {
    cursor: pointer !important;
    display: inline-block !important;
    margin: 0 5px !important;
    min-width: 24px !important;
}
table.table td a.add {
    color: #27C46B !important;
}
table.table td a.edit {
    color: #2D3748 !important;
}
table.table td a.delete {
    color: #2D3748 !important;
}
table.table td i {
    font-size: 19px !important;
}
table.table td a.add i {
    font-size: 24px !important;
    margin-right: -1px !important;
    position: relative !important;
    top: 3px !important;
}
table.table .form-control {
    height: 32px !important;
    line-height: 32px !important;
    box-shadow: none !important;
    border-radius: 2px !important;
}
table.table .form-control.error {
    border-color: #f50000 !important;
}
table.table td .add {
    display: none !important;
}
